# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros  
Aluno: João Victor Alcoforado de Araújo  
Matrícula: 20180083830

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [1]:
import pandas as pd
movies = pd.read_csv('https://raw.githubusercontent.com/yurimalheiros/icd/master/datasets/movies.csv')
movies = movies[['Title', 'Worldwide Gross', 'Production Budget', 'Major Genre', 'Director']]
movies.head()

,Title,Worldwide Gross,Production Budget,Major Genre,Director
0,The Land Girls,146083.0,8000000.0,NaN,NaN
1,"First Love, Last Rites",10876.0,300000.0,Drama,NaN
2,I Married a Strange Person,203134.0,250000.0,Comedy,NaN
3,Let's Talk About Sex,373615.0,300000.0,Comedy,NaN
4,Slam,1087521.0,1000000.0,Drama,NaN

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [2]:
movies_df['Profit'] = movies_df['Worldwide Gross'] - movies_df['Production Budget']
profit_by_genre = movies_df.groupby('Major Genre').sum()
profit_by_genre.sort_values(by='Profit', ascending=False).head(1)

             Worldwide Gross  Production Budget        Profit
Major Genre
Adventure       6.608096e+10       1.886290e+10  4.721806e+10

### Qual o diretor dirigiu mais filmes?

In [3]:
director = movies_df['Director'].value_counts()
director.head(1)

Steven Spielberg    23
Name: Director, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [4]:
movies_df['profitability'] = movies_df['Profit'] / movies_df['Production Budget']
sortedd = movies_df.sort_values('profitability', ascending=False)
sortedd.head()

,Title,Worldwide Gross,Production Budget,Major Genre,Director,Profit,profitability
2526,Paranormal Activity,193770453.0,15000.0,Horror,Oren Peli,193755453.0,12917.030200
2920,Tarnation,1162014.0,218.0,Documentary,NaN,1161796.0,5329.339450
244,Deep Throat,45000000.0,25000.0,NaN,NaN,44975000.0,1799.000000
603,Mad Max,99750000.0,200000.0,Action,George Miller,99550000.0,497.750000
2758,Super Size Me,29529368.0,65000.0,Documentary,Morgan Spurlock,29464368.0,453.297969